@import engine.ActiveCodeInfo
@(activeCodeList: Seq[ActiveCodeInfo])

@base {
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Code</th>
                            <th>IP adress</th>
                            <th>id</th>
                        </tr>
                    </thead>
                    <tbody>
                    @activeCodeList.map { result =>
                        <tr>
                            <td>@result.date</td>
                            <td>@result.code</td>
                            <td>@result.ip</td>
                            <td>@result.processId</td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

}