@base {
    <div class="container" ng-controller="unloadController" xmlns="http://www.w3.org/1999/html">

        <div class="row alert alert-danger" ng-if="message != ''">
            <div class="col-md-12">
                <strong>{{message}}</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <form role="form">
                    <div class="form-group">
                        <label>Месяц:</label>
                        <input ng-model="month" class="form-control" type="number" required/>
                    </div>

                    <div class="form-group">
                        <label>Год:</label>
                        <input ng-model="year" class="form-control" type="number" required/>
                    </div>

                    <div class="form-group">
                        <label>Подразделение:</label>
                        <div class="radio">
                            <label><input ng-model="division" type="radio" name="optdivision" value="LESK">ЛЭСК</label>
                            <label><input ng-model="division" type="radio" name="optdivision" value="GESK">ГЭСК</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Тип:</label>
                        <div class="radio">
                            <label><input ng-model="mkdType" type="radio" name="optmkd" value="MKD">МКД</label>
                            <label><input ng-model="mkdType" type="radio" name="optmkd" value="CHS">Частный сектор</label>
                        </div>
                    </div>

                    <div class="form-group" ng-if="mkdType == 'MKD'">
                        <label>ID MKD:</label>
                        <input ng-model="premId" class="form-control" type="text"/>
                    </div>

                    <div class="form-group">
                        <label>Сортировать по индексам</label>
                        <div class="radio">
                            <label><input ng-model="orderByIndex" type = "radio" value="1">Да</label>
                            <label><input ng-model="orderByIndex" type = "radio" value="0">Нет</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Коды участков:</label>
                        <input ng-model="codeArray" class="form-control" type="text"/>
                    </div>
                </form>

                <button class="btn btn-default" ng-click="submit()">Start</button>
            </div>
            <div class="col-md-9">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Code base</th>
                            <th>DateStart</th>
                            <th>Date</th>
                            <th>Message</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="progress in progressArray">
                        <tr>
                            <td>{{progress.code}}</td>
                            <td>{{progress.dtStart}}</td>
                            <td>{{progress.dt}}</td>
                            <td>{{progress.message}}</td>
                        </tr>
                    </tbody>
                </table>

                <p>{{ archiveMessage }}</p>
                <button class="btn btn-default" ng-disabled="getArchiveDisabled" ng-click="getArchive()">Archive</button>

            </div>
        </div>
    </div>
}